body {
	font-family: "Monsterrat", sans-serif;
	color: white;
	letter-spacing: 1px;
	font-weight: 100;
	background-color: #434A4A;
}

#header {
	font-family: "Monsterrat", sans-serif;
	font-size: 35px;
	font-weight: 300;
	text-transform: lowercase;
	letter-spacing: 5px;
	text-align: center;
	color: white;
	border: solid;
	border-width: 5px;
	border-color: #9FD8D8;
	margin-left: 38%;
	margin-right: 38%;
	margin-top: 30px;
}

/* NAVIGATION BAR*/
ul {
	font-family: "Monsterrat", sans-serif;
    color: white;
    font-weight: 200;
    letter-spacing: 3px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    text-align:center;
}

li {
	display: inline;
}

li a {
	display: inline-block;
	color: white;
	padding: 40px;
	text-decoration: none;
}

li a:hover {
	color: #9FD8D8;
}

/* PORTRAIT */
img.portrait {
	display: block;
    max-width: 20%;
    max-height: 20%;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}

/* BIO PAGE */
img.geometric{
	position: sticky;
	width: 100%;
}

.bio {
	position: relative;
	text-align: center;
}
.text {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	line-height: 20pt;
	letter-spacing: 1px;
	padding: 10px 10px 10px 10px;
	font-family: "Raleway";
	color: black;
}